#card {
	display: flex;
	justify-content: space-between;
	width: 85%;
	color: #f5f3f4;
	border-radius: 20px;
	background-color: #161a1d;
	padding: 15px 20px;
	margin: 10px 0;
}

.card-info {
	margin: 0 0 5px 0;
}

#card-location {
	font-style: italic;
}

#card-img {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px 0 5px 10px;
}

#card-trash {
	margin-top: 10px;
}

#card-edit {
	margin-bottom: 10px;
}

#card-trash:active,
#card-edit:active {
	fill: white;
}
