#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #0b090a;
	margin-top: auto;
	flex-shrink: 0;
}

.footer-img {
	margin: 0px 10px;
}
.footer-img:active {
	fill: white;
}
