#header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7.5vh;
	background-color: #0b090a;
	color: #ffffff;
	flex-shrink: 0;
}

#header h2 {
	margin: 0;
}

#header-add {
	position: absolute;
	right: 15px;
}

#header-nav {
	position: absolute;
	left: 15px;
}

.header-img:active {
	fill: white;
}
