.category-element {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

#category-name-input {
	height: 35px;
	font-size: 16px;
	width: 75%;
	background-color: #1f252e;
	border-radius: 5px;
	padding: 0 7.5px;
	color: white;
	border: none;
	margin: 0 0 0 10px;
}

#category-name-input:focus {
	outline: none;
	border: 2px solid white;
	border-radius: 5px;
}

#colour-picker {
	flex-shrink: 0;
}

.category-img {
	margin: 0 5px;
}

#category-modal {
	width: 300px;
	color: #f5f3f4;
	background-color: #0b090a;
	padding: 15px 20px;
	margin: 10px 0px;
}

#category-container {
	max-height: 17.5vh;
	overflow: scroll;
}

#input-container {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

#category-title {
	font-size: 16px;
	height: 35px;
	background-color: #1f252e;
	border-radius: 5px;
	padding: 0 7.5px;
	color: white;
	border: none;
	margin: 0 10px 0 0;
	flex-grow: 1;
}

#category-title:focus {
	outline: none;
	border: 2px solid white;
	border-radius: 5px;
}

#add-category-btn {
	height: 35px;
	width: 100%;
	background-color: #d3d3d3;
	color: white;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 16px;
}

#add-category-btn:active,
.category-img:active {
	background-color: #b1a7a6;
}
