#new-card-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(7.5px);
}

#new-card-modal {
	width: 300px;
	color: #f5f3f4;
	border-radius: 20px;
	border: 3px solid #e5383b;
	background-color: #0b090a;
	padding: 15px 20px;
	margin: 10px 0px;
}

#new-card-container h2 {
	margin: 5px 0 20px 0;
}

.label-input-container {
	margin-bottom: 15px;
}

.label-input-container label {
	display: block;
	margin: 0 0 5px 0;
	color: #d3d3d3;
}

.label-input-container input,
.label-input-container select {
	width: 100%;
	height: 35px;
	font-size: 16px;
	background-color: #1f252e;
	border-radius: 5px;
	padding: 0 7.5px;
	color: white;
	border: none;
}

.label-input-container input:focus,
.label-input-container select:focus {
	outline: none;
	border: 2px solid white;
	border-radius: 5px;
}

.flex-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-input input {
	width: 48%;
}

#category {
	width: 48%;
}

#urgent-container {
	display: flex;
	align-items: center;
}

#urgent-container label {
	margin: 0;
}

#urgent-container input {
	height: 100%;
	margin: 0 4px 0 20px;
}

#category-urgent-container {
	display: flex;
}

#add-button {
	margin: 10px 0;
	height: 35px;
	width: 100%;
	background-color: #e5383b;
	color: #d3d3d3;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

#add-button:active {
	background-color: #ba181b;
}
