* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

#container {
	width: 100vw;
}

#card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	background-color: #161a1d;
	height: 85vh;
	padding: 10px 0;
}
