* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: #161a1d;
	height: 100vh;
}

/* ============================================================================ */
/* Header Styles */
/* ============================================================================ */

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #0b090a;
	color: #ffffff;
	flex-shrink: 0;
}

.header-title {
	margin: 0;
}

.header-add {
	position: absolute;
	right: 15px;
}

.header-nav {
	position: absolute;
	left: 15px;
}

.header-add:active,
.header-nav:active {
	fill: white;
}

/* ============================================================================ */
/* Footer Styles */
/* ============================================================================ */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: #0b090a;
	margin-top: auto;
	flex-shrink: 0;
}

.footer-schedule,
.footer-calendar {
	margin: 0px 10px;
}

.footer-schedule:active,
.footer-calendar:active {
	fill: white;
}

/* ============================================================================ */
/* Card Styles */
/* ============================================================================ */

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	margin: 10px 0px;
}

.card {
	position: relative;
	width: 85vw;
	color: #f5f3f4;
	border-radius: 20px;
	background-color: #0b090a;
	padding: 15px 20px;
	margin: 10px 0px;
}

.card-edit {
	position: absolute;
	right: 20px;
	top: 20px;
}

.card-trash {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.card-trash:active,
.card-edit:active {
	fill: white;
}

.card-title {
	margin: 0;
	margin-bottom: 5px;
}

.card-location,
.card-date {
	margin: 0;
}
