* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

#container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #161a1d;
	height: 100vh;
}

#card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	margin: 10px 0px;
}
